@media print { .pagebreak { page-break-before: always; } /* page-break-after works, as well */ }
h1
{
    font-size: x-large;
    font-family: Calibri, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    margin-left: 10px;
}
h2
{
    font-size: medium;
    font-family: Calibri, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    margin-left: 10px;

}
h3
{
    font-size: small;
    font-family: Calibri, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    margin-left: 10px;

}
p
{
    font-size: small;
    font-family: Calibri, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    margin-left: 10px;
}
ul, li
{
    font-size: small;
    font-family: Calibri, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 30px;
    margin-left: 30px;
}
em
{
    font-size: small;
    font-style: italic;
    color: DarkGray;
    font-family: Calibri, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 30px;
    margin-left: 30px;
}
table{font-size: medium; font-family: Calibri, sans-serif;margin-bottom: 0;padding-bottom: 0;margin-top: 0;padding-top: 0;}
th{background: #eee;font-family:Calibri, sans-serif; border-bottom: 1px solid #ddd;}
td{text-align: left; min-width:5em;font-family:Calibri, sans-serif;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}
.attrTable th{background: #eee;font-family:Calibri, sans-serif; border-bottom: 1px solid #ddd;}
.attrTable td{text-align: left; min-width:5em;font-family:Calibri, sans-serif;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}

table.contactinfo{font-size: x-large; font-family: Calibri, sans-serif;margin-bottom: 0;padding-bottom: 0;margin-top: 0;padding-top: 0;}
table.plants{font-size: large; font-family: Calibri, sans-serif;margin-bottom: 0;padding-bottom: 0;margin-top: 0;padding-top: 0;border: 0;}