{{define "body"}}
    <header class="header">
        <img class="logo" src="/public/assets/images/logo.png" alt="Huegel Flower Fundraiser" width="50" height="50">
    </header>
    <main>
        <article>
            <section>
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="file" name="orders_spreadsheet">
                    <input type="submit" value="Generate Documents">
                </form>
            </section>
        </article>
    </main>
{{end}}