{{define "orders_sheets"}}
{{range .Orders}}
<div class="row">
    <div class="col-sm-12">
        <table class='table table-hover table-bordered'>
            <tr class="table-active">
                <td>Order# {{.OrderNumber}}</td>
                <td>Customer: {{.Name}}</td>
            </tr>
            <tr>
                <td>Email: {{.Email}}</td>
                <td>Phone: {{.PhoneNumber}}</td>
            </tr>
        </table>
        <br/>
        <table class='table table-hover table-bordered'>
            <tr>
                <th scope="col">Plant</th>
                <th scope="col">Quantity</th>
            </tr>
            {{range .OrderedPlants}}
            <tr>
                <td>{{.PlantType}}</td>
                <td>{{.Quantity}}</td>
            </tr>
            {{end}}
        </table>
    </div>
</div>
<div class='pagebreak'></div>
{{end}}
{{end}}